@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-box:after,
.effect-box:before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1.5em;
    width: 100%;
    margin-top: -10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-box:before {
    border-left: 3px solid;
    border-right: 3px solid;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

.effect-box:after {
    border-bottom: 3px solid;
    border-top: 3px solid;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-box:hover:after,
.effect-box:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
