@tailwind base;
@tailwind components;
@tailwind utilities;

.effect-box:after,
.effect-box:before {
    content: "";
    position: absolute;
    left: -7;
    display: inline-block;
    height: 5em;
    width: 6em;
    margin-top: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-box:before {
    border-left: 3px solid white;
    border-right: 3px solid white;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

.effect-box:after {
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-box:hover:after,
.effect-box:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

*::-webkit-scrollbar {
    display: none;
}

.typewriter {
    font-size: 4rem;
    overflow: hidden;
    border-right: 0.1em solid transparent;
    white-space: nowrap;
    width: 0;
    animation: typing 1.2s steps(16, end) forwards, border 1.2s linear forwards;
}

.typewriter2 {
    font-size: 4rem;
    overflow: hidden;
    border-right: 0.1em solid transparent;
    white-space: nowrap;
    width: 0;
    animation: typing 2.2s steps(32, end) forwards, border 3s linear forwards;
    animation-delay: 1.5s;
}

@keyframes typing {
    from {
        width: 0;
    }
    5% {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
@keyframes border {
    from,
    to {
        border-color: transparent;
    }
    1% {
        border-color: white;
    }
    99% {
        border-color: white;
    }
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #030508 url("./img/stars.png") repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url("./img/twinkling.png") repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    background: transparent url("./img/clouds.png") repeat top center;
    z-index: 2;
    opacity: 0.4;
    animation: move-clouds-back 200s linear infinite;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
